:root {
    --bg-img-stripes: url(../img/BackgroundW_Stripes.png);
    --bg-img: url(../img/Background.png);
    --section-height: 1080px;
    --section-width: 100%;
}


.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:0;
    margin-left:0;
 }

.filter-margin {
    margin: 0px !important;
    padding: 0px !important;
}

 .link-font{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    color: darkgray;
 }

 .link-font:hover {
    color: gray;
 }

 .link-margin {
    flex-grow: 0 !important;
    margin-right: 5%;
    margin-left: auto;
    width: max-content;
 }

.navbar {
    background-image: var(--bg-img-stripes);
    background-repeat: no-repeat;
    background-size: 100%; 
}

.navbar-bigTitle {
    
}

.navbar-smallTitle {
    
}

.header-title {
    position: absolute;
    top: 218px;
}

.anim-header {

}

.anim-box-up {

}



.boxContainerBottom  {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;

    width: max-content;
}

.boxBottom {
    
    vertical-align: bottom !important;
}

.boxContainerTop {
    position: relative;
    display: block;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.boxTop {
    display: inline-block;
    width: max-content;
    vertical-align: top;
}


#home {
    display: flex;
    position: relative;
    background-image: var(--bg-img-stripes);
    background-repeat: repeat;
    height: var(--section-height);
    width: var(--section-width);
    background-size: 100%;
    border-bottom: 2px solid red;
}

#about {
    display: flex;
    position: relative;
    background-image: var(--bg-img-stripes);
    background-repeat: repeat;
    height: var(--section-height);
    width: var(--section-width);
    background-size: 100%;
    border-bottom: 2px solid blue;
}

#projects {
    display: flex;
    position: relative;
    background-image: var(--bg-img-stripes);
    background-repeat: repeat;
    height: var(--section-height);
    width: var(--section-width);
    background-size: 100%;
    border-bottom: 2px solid green;
}

#contact {
    display: flex;
    position: relative;
    background-image: var(--bg-img-stripes);
    background-repeat: repeat;
    height: var(--section-height);
    width: var(--section-width);
    background-size: 100%;
    border-bottom: 2px solid orange;
}

@keyframes headerAnimation {
    from {
        transform: translateX(-400px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes boxAnimTop {
    from {
        transform: translateY(50px);
        
    }
    to{
        transform: translateX(0);
     
    }
}

@keyframes boxAnimBottom {
    from {
        transform: translateY(-150px);
        
    }
    to{
        transform: translateX(0);
        
    }
}